.why-section-content {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.why-image {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
}

.why-image img {
  width: 50vw;
  height: auto;
  object-fit: cover;
}

.why-image span h1 {
  font-family: var(--font-primary);
  position: absolute;
  top: 10%;
  left: 15%;
  font-size: 60px;
  font-weight: 800;
  color: var(--color-yellow);
  transform: translate(-10%);
  text-transform: uppercase;
  line-height: 1.5;
}

.why-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  text-align: left;
  padding-left: 30px;
  font-family: var(--font-secondary);
  color: white;
}

@media (max-width: 1200px) {
  .why-image span h1 {
    top: 20%;
    font-size: 55px;
  }
}

/* on laptop */
@media (max-width: 992px) {
  .why-image span h1 {
    top: 5%;
    font-size: 50px;
  }
}

/* on tablet or mobile */
@media (max-width: 768px) {
  .why-section-content {
    flex-direction: column;
  }

  .why-image img {
    width: 100%;
    height: auto;
  }

  .why-image span h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -30%);
    text-align: center;
  }

  .why-text {
    padding: 20px;
    text-align: center;
  }
}

@media (max-width: 590px) {
  .why-image span h1 {
    top: 0%;
    transform: translate(-50%, 5%);
    font-size: 39px;
  }
}
