.contact_us-section {
  background-color: black;
}

.contact_us-image {
  width: 100%;
  height: auto;
  background-image: url("https://static.wixstatic.com/media/887f92_388b834204744211848eaeef17c5809b~mv2.jpg/v1/fill/w_1631,h_231,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/887f92_388b834204744211848eaeef17c5809b~mv2.jpg");
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_us-image span h1 {
  color: var(--yellow-font-color);
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 900;
}

.contact_us-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact_us-content span {
  flex: 1;
  padding: 40px;
}

.contact_us-content span h3 {
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  padding-left: 100px;
}

.contact_us-content span p {
  text-align: left;
  margin: 0;
  padding-left: 100px;
}

.contact_us-content span img {
  padding-left: 10px;
  padding-right: 10px;
  width: 60px;
}
