@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header {
  font-family: serif;
  width: 100%;
  height: 75px;
  background: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-container {
  font-family: "Poppins", sans-serif;
  max-width: 1920px;
  display: flex;
  justify-content: space-around;
  padding: 15px 20px;
  align-items: center;
  background-color: #000;
  color: white;
}

.header-container button {
  background-color: #000;
  padding-left: 15px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
}

.header-nav a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.header span {
  color: var(--yellow-font-color);
}

.header-nav a:hover {
  color: var(--yellow-font-color);
}

.header-nav a.active {
  color: var(--yellow-font-color);
}

/* Burger icon */
.hamburger-icon {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 3;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background-color: black;
  padding-top: 80px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.sidebar-open {
  /* width: 200px; */
  transform: translateX(0);
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.sidebar-menu a:hover {
  color: var(--yellow-font-color);
}

.sidebar-menu a.active {
  color: var(--yellow-font-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff4d;
  transition: background-color 2s ease-in-out;
  z-index: 1;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--yellow-font-color);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger-icon.active .line:nth-child(1) {
  transform: rotate(45deg) translateY(13px);
}

.hamburger-icon.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.active .line:nth-child(3) {
  transform: rotate(-45deg) translateY(-13px);
}

/* if in the mobile view */
@media (max-width: 768px) {
  .header-nav {
    display: none;
  }

  .header-container {
    padding-right: 20px;
    justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .hamburger-icon {
    display: none;
  }

  .sidebar-menu {
    display: none;
  }

  .overlay {
    display: none;
  }
}
