.leaderboard-image {
  width: 100%;
  height: auto;
  background-image: url("https://static.wixstatic.com/media/887f92_53b544d820884f20b9beaee16111a31c~mv2.jpg/v1/fill/w_1230,h_170,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/887f92_53b544d820884f20b9beaee16111a31c~mv2.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard-image span h1 {
  margin: 0;
  color: var(--yellow-font-color);
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 900;
}

.leaderboard-image span h2 {
  margin: 0;
  color: var(--yellow-font-color);
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
}

.leaderboard-contestant {
  background-color: black;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.contestant-name p {
  padding: 35px;
}

.contestant-score p {
  padding: 35px;
}

.button-wrapper {
  background-color: black;
  padding: 20px;
}

@media (max-width: 768px) {
  .leaderboard-image span h1 {
    font-size: 50px;
  }

  .leaderboard-image span h2 {
    font-size: 35px;
  }
}
