.about_us {
  margin-top: 70px;
  width: 100vw;
  min-height: calc(60vh - 100px);
}

.about_us-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: black;
}

.about_us-image {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
}

.about_us-image img {
  width: 50vw;
  height: 45vw;
  object-fit: cover;
}

.about_us-title h1 {
  text-transform: uppercase;
  position: absolute;
  width: 50vw;
  top: 20%;
  left: 5%;
  font-family: var(--font-primary);
  font-size: 70px;
  font-weight: 800;
  color: var(--color-yellow);
  transform: translate(-10%);
  line-height: 1.5;
}

.about_us-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 40px;
  line-height: 2;
}

.coach_profile {
  background-color: black;
  margin: 0;
  padding-top: 50px;
}

.coach_profile-container {
  background-color: black;
  margin: 0;
}

.coach_profile-title h1 {
  text-transform: uppercase;
  color: var(--color-yellow);
  margin: 0;
  padding: 30px;
  font-weight: 800;
}

.coach_profile-image img {
  width: 600px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .about_us-container {
    flex-direction: column;
  }

  .about_us-image {
    width: 100%;
    height: auto;
  }

  .about_us-image img {
    width: 100vw;
  }

  .about_us-title h1 {
    font-size: 50px;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
  }

  .about_us-text {
    font-size: 18px;
    padding: 20px;
    line-height: 1.7;
  }

  .coach_profile-image img {
    width: 90%;
  }
}
